/* browser Reset Code */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style-type: none;
}

/* font face */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Work Sans', sans-serif; */


/* for use in all button */
.universal-btn {
    border: none;
    padding: 21px 26px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
}


/* --Header-- */

.header {}


/* banner */
.banner {
    padding: 216px 250px;
    text-align: right;
    background-color: aliceblue;
    background: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.banner-content {}

.banner-content h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    padding-left: 750px;
    margin-bottom: 24px;
}

.banner-content p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    padding-left: 980px;
    margin-bottom: 24px;
}

.banner-content button {
    background-color: #F15B22;
    color: #ffff;
}

/* --main-- */
.main-content {
    width: 1165px;
    margin: 0px auto;
}


/* -- my failure -- */
.my-failure {
    padding: 130px 0px;
    display: flex;
    align-items: center;
}

.failure-text {
    margin-left: 283px;
}

.failure-text h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.failure-text p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

.failure-text ul {
    margin-left: 10px;
}

.failure-text ul li {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #444343;

}

.failure-text ul li img {
    width: 16px;
    height: 16px;
}

/* -- my plan -- */
.my-plan {
    margin-bottom: 130px;
}

.plan-title {
    text-align: center;
    margin-bottom: 60px;
}

.plan-title h2 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #151414;

}

.plan-cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.plan-cards>.card img{
    margin-bottom: 24px;
}

.plan-cards>.card h4 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #151414;
    margin-bottom: 16px;
}

.plan-cards>.card p {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #737272;

}


/* my-message */

.my-message{
    border-radius: 5px;
    text-align: center;
    margin-bottom: 130px;
    background-color: #f7eeee;
    padding: 43px 0px;
    box-shadow: 0px 0px 20px 3px #80808033;
}

.my-message h2{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 30px;
}

.my-message p{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #737272;
    padding: 0px 60px;
    margin-bottom: 20px;
}

.my-message h4{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #6d636352;
    text-align: right;
    margin-right: 293px;
}